/* Estilo da Pagina SignUp */
.componentSignUp {
    padding: 2rem;
}

/* Estilo do container Logo */
.containerLogoSignUp {
    text-align: center;
    margin-top: 2rem;
}

.logoSignUp {
    width: 40%;
}

/* Estilo do container de Entrada de Dados */
.containerInfoSignUp {
    padding: 1rem;
}

/* Estilo do container de Entrada de Texto */
.formSignUp {
    margin: 2rem 1rem;
}

.formSignUp label {
    width: 100%;
    font-size: 14pt;
}

.formSignUp input {
    width: 100%;
    height: 2rem;
    padding: 0.3rem 0;
    margin: 0.5rem 0 1.5rem 0;
    border: none;
    border-bottom: thin solid #000;
    font-size-adjust: 13pt;
    outline: 0;
}

.selectFormSignUp {
    width: 100%;
    margin: 1rem 0;
    border: none;
    border-bottom: thin solid #000;
    outline: 0;
    font-size: 13pt;
    padding: 0.3rem 0;
}

/* Estilo do container de Botões */
.containerBotaoSignUp {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.botaoSignUp {
    padding: 0.5rem;
    background-color: #FFF;
    border: thin solid #000;
    width: 45%;
    margin: 1rem 0;
    cursor: pointer;
}

.linkSignUp {
    text-align: center;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

/* Definição de cores */
.primarioSignUp {
    color: #fff;
    background: #3b78ac;
    border: thin solid #2a679b;
}

.primarioSignUp:active {
    background: #19568a;
    border: thin solid #084579;
}

.quartenarioSignUp {
    color: #fff;
    background: #e20c0c;
    border: thin solid #e20f0a;
}

.quartenarioSignUp:active {
    background: #f20f1f;
    border: thin solid #f20f1a;
}